{% load staticfiles %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>LazyLight</title>
    <link href="{% static "css/lazyswitch.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript"
        src="{% static "omnibus/omnibus.min.js" %}"></script>
    <script>{% include "index.js" %}</script>
  </head>
  <body>
    {% for relay in relays %}
      <button id="relay-{{ relay.pk }}"
          class="relay-{% if relay.actuated %}on{% else %}off{% endif %}">
        {{ relay.name }}
      </button>
    {% endfor %}
  </body>
</html>
